<nav>
    <div id="navbar-logo-container">
        <img id="logo" src="../../../assets/img/logo.jpg" alt="blackbelle profile picture">
    </div>
    <div id="navbar-filter-container">
        <ul>
            <li><a routerLink="/">All Drawings</a></li>
            <li><a (click)="navigateTo('tv-series-movies')">TV Series/Movies</a></li>
            <li><a (click)="navigateTo('cartoons')">Cartoons</a></li>
            <li><a (click)="navigateTo('bw')">B/W</a></li>
        </ul>
    </div>
</nav>
