nav {
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    >* {
        margin-right: 2rem;
    }

    #navbar-logo-container {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            scale: 1.2;
            position: relative;
            top: .8rem;
        }
    }

    #navbar-filter-container {

        ul {
            list-style: none;

            li {
                padding: .2rem 0;
                letter-spacing: .07rem;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #000;
                    outline: none;
                    transition: color .4s ease;

                    &:hover {
                        color: grey;
                    }
                }
            }
        }
    }

    h1 {
        font-size: 5rem;
    }

    #small-menu {
        padding: .5rem;
        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);
        border-right: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        box-shadow: -1px -1px 5px lightgrey;
        
        a {
            color: grey;
            transition: color .4s ease;

            i {
                font-size: 2rem;
            }

            &:hover {
                color: #000
            }
        }
    }

    @media screen and (max-width: 930px) {
        h1 {
            font-size: 4rem;
        }
    }

    @media screen and (max-width: 775px) {
        h1 {
            font-size: 3rem;
        }
    }

    @media screen and (max-width: 775px) {
        h1 {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        padding: 1rem;

        #navbar-logo-container {
            margin-right: 2rem;
        }

        #navbar-filter-container {
            margin: 0;
        }

        #small-menu {
            display: block;
        }
    }
}
