#home-wrapper {
    padding: 1rem;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    column-gap: 0;
    list-style: none;
    
    .image-container {
        margin: 1rem;
        font-size: 0;
        display: inline-block;
        border-radius: 10px;
        overflow: hidden;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media screen and (max-width: 768px) {
        columns: 2;
    }
    
    @media screen and (max-width: 500px) {
        columns: 1;
    }
}